html {
    font-family: "Rubik", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
      "Noto Color Emoji";
  }
  
  @font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 100 900;
    src: url("/fonts/Rubik-VariableFont_wght.ttf")
      format("truetype");
  }
  
  @font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: italic;
    font-weight: 100 900;
    src: url("/fonts/Rubik-Italic-VariableFont_wght.ttf")
      format("truetype");
  }
  